.header{
    width: 100%;
    position: relative;
    height: 60px;
    display: flex;
    background: #E6C0E9;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Tourney', cursive;
    font-size: 20px;
    box-shadow: 0 0 5px 1px#EAC8CA;
}

.logo{
    font-size: 30px;
    color: #8D89A6;
    text-transform: capitalize;
    font-weight: bold;
    margin: 18px;
    text-shadow: 0 0;
}

.menu{
    display: flex;
    margin: 20px;
}

.menu > li > a{
    color: #8D89A6;
    font-weight: bold;
    text-shadow: 0 0;
    text-decoration: none;
}

.leftMenu{
    display: flex; 
    color: #8D89A6; 
    margin: 20px;
}

.leftMenu > li{
    margin: 0 10px;
}

.leftMenu > li > a{
    color: #8D89A6;
}

.leftMenu > li > a.active{
    font-weight: bold;
}